language: c
sudo: false

env:
  global:
    - LUAROCKS=2.2.2

matrix:
    include:
    - env: LUA=luajit2.0.4
      os: linux
    - env: LUA=luajit2.0.4
      os: mac

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y libxml2-utils; fi
  - source .travis/setenv.sh
  - bash .travis/install_lua.sh
  - bash .travis/install_compressor_decompressor.sh
  - bash .travis/install_luarocks_packages.sh

script:
  - hash -r
  - if [[ "$LUA" == "luajit2.0.4" && "$TRAVIS_OS_NAME" == "linux" ]]; then lua -lluacov tests/Test.lua CommandLineCodeCoverage ; else echo "Not running coverage" fi

after_success:
  - if [[ "$LUA" == "luajit2.0.4" && "$TRAVIS_OS_NAME" == "linux" ]]; then luacov; fi
  - if [[ "$LUA" == "luajit2.0.4" && "$TRAVIS_OS_NAME" == "linux" ]]; then bash <(curl --retry 10 --retry-delay 10 -s https://codecov.io/bash); fi
