language: c
sudo: false

env:
  global:
    - LUAROCKS=2.2.2

matrix:
    include:
    - env: LUA=lua5.1.4
      os: linux
    - env: LUA=lua5.2.4
      os: linux
    - env: LUA=lua5.3.3
      os: linux
    - env: LUA=luajit2.0.4
      os: linux
    - env: LUA=luajit2.1.0-beta3
      os: linux
  allow_failures:
    - env: LUA=luajit2.1.0-beta3
      os: linux

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install -y libxml2-utils; fi
  - source .travis/setenv_platform.sh
  - bash .travis/install_lua.sh
  - bash .travis/install_compressor_decompressor.sh
  - bash .travis/setup_compressor_decompressor.sh

script:
  - lua tests/Test.lua
